<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument></defaultDocument>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\BookList.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  <appSettings>
    <add key="webpages:Enabled" value="true" />
    <add key="webPages:Version" value="2.0" />
  </appSettings>
</configuration>
<!--ProjectGuid: e3d16b05-db28-4e12-9b4a-84ed02d5daac-->